div.footer{
    text-align: right;
    border-bottom: 1px solid lightskyblue;
    color: lightskyblue;
    margin: 50px 0px;
    }

pre {
    background-color: khaki;
    font-size: 12px;
    padding: 10px;
    }